/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@600&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato';
}


/* Header */
header {
    background-color: gray;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width:100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color:lightgoldenrodyellow;
}

h1 {
    font-family: "Poppins";
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu {
    font-size: 90%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

/* Hero Image */

.hero {
    /*size*/
    width: 98.9vw;
    height:100vh;
    
    
    
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    /*background style*/
    background-image: url("../images/latoucheh.jpeg");
    background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;

     /*hero text*/
     color: rgb(240, 240, 187);

     /* Background styles */
     background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), 
     url("../images/latoucheh.jpeg");
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed

}

.hero h1 {
    font-size: 5em;
}

/* Main Content */
main {
    padding-top: 80px;
    flex: 1 0 auto;
    background-color: rgb(240, 240, 187);
    
}

main h2 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight:500;
    font-family: 'Poppins';
    position:relative;
    color: rgb(79, 77, 77);
}

section  {
    padding: 0 1rem;
    padding-left: 20%;
    padding-right: 20%;
    height: 100vh;
    border: 1px solid rgb(79, 77, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    
    
}




#past-circle {
    background: url('../images/IMG_0536.JPG') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    align-items: center;
    display:block;
    margin:auto;
    
}

#present-circle {
    background: url('../images/modernlatouche.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    align-items: center;
    display:block;
    margin:auto;
}

#michael-circle {
    background: url('../images/michaelkitty.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    align-items: center;
    display:block;
    margin:auto;
}


/* nav bar style with toggle dropdown*/

nav {
    position:absolute;
    background-color: gray;
    width:100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top:100%;

}
 #nav-toggle:checked~nav { 
    display:block;

 }

 #nav-toggle {
    display:none;
 }

 .nav-toggle-label {
    font-size: 2rem;
 }

/* Main content */
main {
    background-color: lightgoldenrodyellow;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    
    
}

/* Gallery  */

.img-gallery {
    
margin: 10px 50px;
width: 100%;
padding: 5px;
transition: 1s;
display: block;
line-height: 1em;
grid-template-columns: repeat(3, 1fr);
grid-gap: 1rem;



}
.img-gallery img:hover {
    transform: scale(1.1);
}



   


/* Contact form */

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; 
    margin-top: 6px; /* top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* submit buttom */
  input[type=submit] {
    background-color: rgb(240, 240, 187);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* mouse hover */
  input[type=submit]:hover {
    background-color: #e0dc70;
  }
  
  /* form style */
  .container {
    border-radius: 5px;
    padding: 40px;
  }
   
#contact-art img {
    max-width: 100%;
    height: auto;
    align-items: center;

     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-top: 40px;
     width: 60%;
      
  }


/* Footer */
footer {
    background-color: gray;
    padding: 70px 0;
}

.container {
    max-width:1170px;
    margin:auto;
}

.row {
    display:flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer-col {
    width:25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size:18px;
    color:lightgoldenrodyellow;
    text-transform:capitalize;
    font-family: 'Poppins';
    margin-bottom: 35px;
    font-weight:500;
    position:relative;
}

.footer-col h4::before{
    content: '';
    position:absolute;
    left:0;
    bottom:-10px;
    background-color: lightgoldenrodyellow;
   height:2px;
   box-sizing:border-box;
   width:50px;
}

.footer-col ul li {
    margin-bottom: 10px;
    color:lightgoldenrodyellow;
}

.footer-col ul li a {
font-size:16px;
text-transform:capitalize;
color:lightgoldenrodyellow;
text-decoration:none;
font-weight:300;
display:block;
transition: all 0.3s ease;
}

.footer ul li a:hover{
color:darkslategray;
padding-left: 8px;
}

.footer-col .social-links a {
    display:inline-block;
    text-decoration: none;
    color:lightgoldenrodyellow;
    height:40px;
    width:40px;
}

/* MEDIA QUERIES */



/*tablets & larger 768px and up*/
    @media screen and (min-width: 768px) {
    
            /* Header */
            nav {
                display: block;
                position: relative;
                box-shadow: none;
                width: fit-content;
                padding-right: 1rem;
            }

            #menu {
                    display: flex;
                }
                #menu > li {
                    padding-left: 1rem;
                }
                .nav-toggle-label {
                    display: none;
                }

                #logo {
                    font-size:280%;
                    line-height:75px;
                    margin: 0 0.5rem;
                }
                
                
}



/* footer*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  } 

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid rgb(250, 250, 210);}
    }

    
   