/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@600&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato';
}


/* Header */
header {
    background-color: gray;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width:100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    text-decoration: none;
    color:lightgoldenrodyellow;
}

h1 {
    font-family: "Poppins";
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu {
    font-size: 90%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}


/* nav bar style with toggle dropdown*/

nav {
    position:absolute;
    background-color: gray;
    width:100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    
}

/* Main content */
main {
    background-color: lightgoldenrodyellow;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: gray;
}
